
html 
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
    font-size: 16px;
}

.logo {
  /*box-shadow: 10px 10px 5px 1px rgba(0, 0, 255, .1);*/
  max-height: 64px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.brand-logo {
  padding-left: 1rem;
  color: red;
}

.slogan {
  text-align: center;
  margin-top: 1.66rem;
  color: white;
  font-family: time;
  line-height: 3.66rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.test {
  font-weight:bold;
}

.header {
  background: url('../images/headerImg.jpg') center;
  background-size: cover;
}

.mission {
  line-height: 1.66em;
    font-size: 1em;
}

.iv-nav {
  background-color: white;
}

.nav-item {
  color: #3a54a0;
}

.nav-wrapper {
  color: #3a54a0;
}

.card-image:hover {
  cursor:pointer;
}

.card-content {
  max-height: 184px;
  margin-left: auto;
  font-size: 1rem;
}

.card-button {
  color: #039be5 !important;
  border: 1px solid #039be5 !important;
}

.card-button:hover {
  background-color: rgba(136, 77, 196, 0.33) !important;
}

.card-title {
  color: #3a54a0;
  padding-left: 1.66rem;
  padding-top: .66rem;
  margin-bottom: -.66rem;
  cursor: pointer;
}

.card-title:hover {
  cursor: pointer;
}

/**#post2 div:nth-child(2), #post3 div:nth-child(2), #post5 div:nth-child(2){
  padding-bottom: 4rem !important;
}**/
#form-label {

  font-size: 1.66em;
  color: #875bbf;
}
#form-text {
  font-size: 1em;
}

.contact-form {
  font-size: 1em;
  line-height:1.66;
}

.MuiFormControl-root {
  padding: 12px 12px 12px 0px !important;
}

.MuiFormHelperText-root {
  margin-top:1.66px !important;
  margin-bottom:3px !important;
}


#locationLabel {
  font-weight: bold;
  margin-bottom: .33rem;
  margin-top: .33rem;

}

#napervilleLocation {
  line-height:1.66;
}

.container {
  width:88% !important;
}

.flexnav{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modalImage {
  width: 66%;
  float: left;
  padding-right: 20px;
}

.cardDescription {
}

.card-button {
  color:#3a54a0 !important;
  border-color: #3a54a0 !important;
}

.card-excerpt {
  font-family: helvetica;
  padding: 25px;
}

a {
  color: #3a54a0 !important;
}

#form-label {
  color: #3a54a0;
}
.form-button {
  margin-top: 7px !important;
}

@media (max-width : 1200px) {

/* Styles */

    #post0, #post1, #post2, #post3, #post4, #post5 {
    
    flex-basis: 50%;

    }
}

@media (max-width : 750px) {

/* Styles */

    #post0, #post1, #post2, #post3, #post4, #post5, #post6 {

    flex-basis: 100%;
  }
    
    .modalImage {
      width: 100%;
    }
  }  
